<section>
  <div class="row">

    <div class="col s4">

      <div class="grupos card-panel">
        <table border="1" class="bordered highlight">
          <caption><h4 class="fonte-titulo">Grupos</h4></caption>

          <thead>
            <tr>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr data-ng-class="{'grupo-selecionado':Chamadas.grupoSelecionado == grupo._id}" class="item" data-ng-repeat="grupo in Chamadas.grupos" data-ng-click="Chamadas.selecionaGrupo(grupo._id)">
              <td>{{ grupo.nome }}</td>
            </tr>
          </tbody>
        </table>

        <br>
        <a href="/chamadas/grupos/add/{{ Chamadas.userId }}"  class="btn-small btn blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Adicionar grupo" name="action">
          <i class="material-icons center">add</i>
        </a>

        <a data-ng-disabled="Chamadas.grupoSelecionado === ''" data-ng-click="" class="btn-small btn blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar grupo" name="action">
          <i class="material-icons center">mode_edit</i>
        </a>

        <a data-ng-disabled="Chamadas.grupoSelecionado === ''" data-ng-click="Chamadas.removerGrupoSelecionado()" class="btn-small btn red waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remover grupo" name="action">
          <i class="material-icons center">delete</i>
        </a>

        <br>
        <br>

      </div>
    </div>

    <div class="col s8">
      <div class="table-chamadas card-panel">

        <input type="checkbox" class="filled-in" id="checkRecebidas" name="checkRecebidas" data-ng-model='Chamadas.checkRecebidas' data-ng-click="Chamadas.checkFiltros()">
        <label for="checkRecebidas">Recebidas &nbsp;</label>

        <input type="checkbox" class="filled-in" id="checkRealizadas" name="checkRealizadas" data-ng-model='Chamadas.checkRealizadas' data-ng-click="Chamadas.checkFiltros()" >
        <label for="checkRealizadas">Realizadas</label>

        <table border="1" class="bordered highlight">
          <caption><h4 class="fonte-titulo">Chamadas</h4></caption>

          <thead>
            <tr>
              <th data-ng-click="Chamadas.ordenar('nome')">Nome</th>
              <th data-ng-click="Chamadas.ordenar('telefone')">Telefone</th>
              <th data-ng-click="Chamadas.ordenar('duracão')">Duração</th>
              <th data-ng-click="Chamadas.ordenar('finalizada')">Finalizada</th>
              <th data-ng-click="Chamadas.ordenar('data')">Data</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-class="Chamadas.coresTabela(chamada)" class="item" data-ng-repeat="chamada in Chamadas.paginaChamadas | filter: Chamadas.filter() | orderBy:Chamadas.sortKey:Chamadas.reverse">
              <td>{{ chamada.nome }}</td>
              <td>{{ chamada.telefone }}</td>
              <td>{{ chamada.duracao }}</td>
              <td>{{ chamada.finalizada }}</td>
              <td>{{ chamada.data | date:'dd-MM-yyyy'}}</td>
            </tr>
          </tbody>
        </table>

        <h6 class="fonte-titulo red-text text-lighten-3 bold">* Realizadas</h6>
        <h6 class="fonte-titulo green-text text-lighten-4 bold">* Recebidas</h6>

        <ul class="pagination">
          <li class="waves-effect" data-ng-click="Chamadas.voltaPagina()"><i class="material-icons">chevron_left</i></li>
          <li class="waves-effect" data-ng-class="{'active':Chamadas.paginaAtual === 1}" data-ng-click="Chamadas.selecionaPagina(1)">1</li>
          <li class="waves-effect" data-ng-class="{'active':Chamadas.paginaAtual === 2}" data-ng-click="Chamadas.selecionaPagina(2)">2</li>
          <li class="waves-effect" data-ng-class="{'active':Chamadas.paginaAtual === 3}" data-ng-click="Chamadas.selecionaPagina(3)">3</li>
          <li class="waves-effect" data-ng-class="{'active':Chamadas.paginaAtual === 4}" data-ng-click="Chamadas.selecionaPagina(4)">4</li>
          <li class="waves-effect" data-ng-class="{'active':Chamadas.paginaAtual === 5}" data-ng-click="Chamadas.selecionaPagina(5)">5</li>
          <li class="waves-effect" data-ng-click="Chamadas.avancaPagina()"><i class="material-icons">chevron_right</i></a></li>

        </ul>
      </div>

      <div class="row">
        <button type="button" class='btn btn-medium waves-effect waves-light' name="atualizaChamadas" data-ng-click="Chamadas.atualizaChamadas()"><i class="large material-icons">autorenew</i></button>

        <div class="preloader-wrapper small" data-ng-class="Chamadas.ativaPreLoader()">
          <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</section>
