<section>
  <h3>Chamadas</h3>

  <div class="row">

    <div class="col s3 card-panel">
      <table border="1" class="bordered highlight">
        <caption>Grupos</caption>

        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-class="{'grupo-selecionado':Chamadas.grupoSelecionado == grupo._id}" class="item" data-ng-repeat="grupo in Chamadas.grupos" data-ng-click="Chamadas.grupoSelecionado = grupo._id">
            <td>{{ grupo.nome }}</td>
          </tr>
        </tbody>
      </table>

      <br>
      <a href="#/chamadas/grupos/add" class="btn-small btn blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Adicionar grupo" name="action">
        <i class="material-icons center">add</i>
      </a>

      <a data-ng-disabled="Chamadas.grupoSelecionado === ''" data-ng-click="" class="btn-small btn blue waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar grupo" name="action">
        <i class="material-icons center">mode_edit</i>
      </a>

      <a data-ng-disabled="Chamadas.grupoSelecionado === ''" data-ng-click="" class="btn-small btn red waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remover grupo" name="action">
        <i class="material-icons center">delete</i>
      </a>

      <br>
      <br>

    </div>

    <div class="col s9">

    </div>
  </div>
<!--
  <td>
    <button data-ng-click="" class="btn-small btn red waves-effect waves-light" name="action">
      <i class="material-icons center">delete</i>
    </button>
  </td>
-->

</section>
