<section class="row wrapper card-panel">
  <img class="atom-logo" src="/assets/images/logo.png" alt="logo">
  <h3 class="fonte-titulo">Controle de Chamadas</h3>

  <form name="UsuarioLoginForm">
     <!-- <div data-ng-class="{'invalid': User.form.name.$invalid && !User.form.name.$pristine, 'dirty': User.form.name.$dirty}"> -->
    <div>
      <input type="email" name="email" data-ng-model="UsuarioLogin.form.email" placeholder="Email" required>
    </div>

    <div>
      <input type="password" name="senha" data-ng-model="UsuarioLogin.form.senha" placeholder="Senha" required>
    </div>

    <p class="red-text">
       {{ UsuarioLogin.loginError }}
    </p>

    <button  data-ng-click='UsuarioLogin.login(UsuarioLogin.form)' data-ng-disabled="!UsuarioLoginForm.$valid" class="btn-login btn btn-small #ADD8E6 waves-effect waves-light" type="submit" name="action">Login</button>
    <!-- <button class="btn-login btn btn-small #ADD8E6 waves-effect waves-light" type="submit" name="cadastre">Cadastre-se</button>-->
    <a href="/users/create" class="btn-login btn btn-small #ADD8E6 waves-effect waves-light" name="cadastre"> Cadastre-se </a>
  </form>
</section>
