html body select {
  display: inline-block;
}
[disabled] {
  background-color: #ccc !important;
}

.fonte-titulo {
  font-family: 'Open Sans Condensed', sans-serif;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 3%;
  /*background-color: #FFFAFA;*/
}

.panel-usuarios {
  max-width: 500px;
  /*margin: 1 auto;*/
  margin-left: 10%;
  text-align: center;
  margin-top: 3%;
  background-color: #F5F5DC
}

.grupos {
  max-width: 400px;
  margin-left: 5%;
  background-color: #F5F5DC
}
/*
.grupos {
  position: absolute;
  width: 300px;
  margin-left: 10%;
  float:left;
  background-color: #F5F5DC
}
*/
.btn-remove-group {
  width: 50px;
}

.menu li {
  display: inline-block;
  font-size: 2rem;
  margin: 0 1rem;
}
.animate {
  transition: all linear 0.5s;
}
.ng-hide {
  height: 0;
}
.item.ng-enter {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
.item.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
.item.ng-move {
  -webkit-transition:all linear 1s;
  transition:all linear 1s;
}
.item.ng-enter {
  opacity:0;
}
.item.ng-leave {
  opacity:1;
  height: 100px;
}
.item.ng-leave.ng-leave-active {
  opacity:0;
  height: 0;
}

.item.ng-move {
  opacity: 0;
}
.item.ng-move.ng-move-active  {
  opacity: 1;
}

.item.ng-enter.ng-enter-active {
  color: #4CAF50;  /* .green */
  font-weight: bold;
  font-size: 1.2rem;
  opacity:1;
}
.atom-titulo {
  color : #D0BB00;
  font-size : 80px;
  text-align : center;
}
.atom-logo {
  display: block;
  margin: 0 auto;
  width: 250px;
}
.bold {
  font-weight: bold;
}
.strike {
  text-decoration: line-through;
}
.btn-login {
  width: 155px;
  font-size: 10pt;
}

.page-footer{
    color: blue;
}

.grupo-selecionado {
  background-color: #BEBEBE
}

.table-usuarios {
  max-width: 500px;
/*  text-align: center; */
  margin-top: 3%;
  background-color: #F5F5DC
}

.table-chamadas {
  max-width: 1500px;
  margin-right: 10%;
  background-color: #F5F5DC
}

.confirmargrupo {
  margin-left: 10%
}

.cor-chamada-realizada {
  background-color: #ef9a9a;
}

.cor-chamada-recebida {
  background-color: #c8e6c9;
}

.preloader-wrapper {
  position: relative;
  top: 12px;
}
